<table>
  <caption></caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
    </tr>
  </thead>



  <tbody *ngFor="let utenteDto of utenteDtoList">
    <tr>
      <th scope="row">{{utenteDto.id}}</th>
      <td>{{utenteDto.nome}}</td>
      <td>{{utenteDto.cognome}}</td>
    </tr>
  </tbody>
</table>




<button (click)="showInsert = true;">INSERISCI</button>

<div *ngIf="showInsert">


  <form [formGroup]="insertForm">
    <div>
      <label for="exampleInputEmail1">Nome</label>
      <input formControlName="nome" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Cognome</label>
      <input formControlName="cognome" type="text" class="form-control" id="exampleInputPassword1" placeholder="Cognome">
    </div>
    <button (click)="registraUtente()" type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>


<router-outlet></router-outlet>
